/*Font Face*/

@font-face {
    font-family: 'GalanoBold';
    src: url(../fonts/GalanoGrotesqueAltBold.otf);
}

@font-face {
    font-family: 'GalanoMedium';
    src: url(../fonts/GalanoGrotesqueAltMedium.otf);
}

@font-face {
    font-family: 'GalanoNormal';
    src: url(../fonts/GalanoGrotesqueAlt.otf);
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 15vh;
}

.logobox {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20%; */
    height: 100%;
    padding: 10px;
    margin-left: 5px;
}

.logo {
    width: auto;
    height: 50%;
}

.header-middle {
    display: flex;
    width: 50%;
    height: 100%;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    margin-right: 1em;
}

.header-main p {
    font-family: 'GalanoBold', sans-serif;
    color: #00cfa7;
    margin: 0px;
}

.header-main a {

    font-family: 'GalanoBold', sans-serif;
    font-size: 20px;
    color: #363546;
    margin: 0px;
    padding: 0px;

}

.wrapper-right > p {
    font-size: 1em;
}

.icon-phone {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 70vh; */
}

.wrapper-left {
    display: block;
    width: 50%;
    height: 100%;
}


.wrapper-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* padding: 20px; */
}

.precio-right {
    margin-top: 20px;
}

.precio-right > span {
    font-family: 'GalanoBold', sans-serif;
    font-size: 1.2em;
}


.mucho-frio {

    position: relative;
    left: 5%;
    width: 90%;
    height: auto;
    margin: 0px;

}

.wrapper-up {
    display: flex;
    width: 100%;
    padding: 30px;
}

.wrapper-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background-color: #00cfa7; */
    padding: 30px;
    margin: 0px;
}

h2 {
    font-family: 'GalanoBold';
    font-size: 4em;
}

.right-title {

    font-family: 'GalanoMedium';
    font-size: 2.6em;
    width: 70%;
    padding-top: 10px;
    margin-bottom: 15px;
    letter-spacing: -1px;
}

.subtitle {
    font-family: 'GalanoNormal', sans-serif;
}

h3 {
    font-family: 'GalanoBold';
    font-size: 2em;
}


.sepcheck > label {
    display: flex;
}

.info-pd {
    margin: 0px;
    margin-left: 10px;
}


.sepcheck > label > p {
    font-family: 'GalanoNormal';
    font-size: 0.5em;
}

.podemos-llamarte {
    font-family: 'GalanoBold', sans-serif;
    text-align: center;
    line-height: 1em;
    font-size: 2em;
    border-top: 1px solid black;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 30px;

}

p {
    font-family: 'GalanoNormal', sans-serif;
}

.precio-right {
    width: 60%;
    font-family: 'GalanoNormal';
    margin-top: 20px;
}

.homeserve-title {
    width: 80%;
    align-items: center;
    color: #00cfa7;
    margin-top: 40px;
}

.homeserve-logo {
    height: 30px;

}



.formulario {
    width: 60%;
    margin-top: 20px;
}

label {
    font-family: 'GalanoBold', sans-serif;
    font-size: 1.2em;
}

.proteccion-datos {
    display: flex;
    margin: 0px;

}

.proteccion-datos > p {
    font-size: 0.7em;
    margin: 0px;
    margin-left: 5px;
}

input > span {
    font-size: 1em;
    font-family: 'GalanoBold', sans-serif;
}

button {
    color: white;
    font-family: 'GalanoBold', sans-serif;
    font-size: 1.2em;
    width: 100%;
    height: 50px;
    margin: 50px 0px 10px 0px;
    border: 0px;
    background-color: #00cfa7;

}

.oferta-title {
    width: 50%;
    font-family: 'GalanoNormal', sans-serif;
    text-align: center;
    color: #363546;
    font-size: 2em;
}

.oferta-title > span {
    font-family: 'GalanoBold', sans-serif;
    color: #00cfa7;

}

.servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 2em;
    border-top: 6px solid #363546;
    /* padding: 1em; */
}

.servicios > h3 {
    color: #363546;
    font-size: 2em;
    margin-bottom: 0px;
    margin-bottom: 30px;
    padding-top: 40px;
    text-align: center;
}

.servicios-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;

}

.servicios-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin: 20px;
}

.icon-servicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

}

.icon-servicio > img {

    height: 100%;
}

.info-servicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.7em;
}

.info-servicio > p {
    color: #363546;
    text-align: center;
    font-family: 'GalanoNormal', sans-serif;
    line-height: 1.3em;
    margin-top: 1em;
}

.info-servicio > p > span {

    font-family: 'GalanoBold',sans-serif;
    font-size: 1.1em;

}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-family: 'GalanoMedium';
    margin-top: 2em;
}

.footer > p {
    text-align: center;
    line-height: 1.6em;
}

.footer > p > span {
    font-family: 'GalanoBold',sans-serif;
    font-size: 1.2em;
}

/*averias*/

.averias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-top: 6px solid #363546;
    margin-top: 20px;
    padding: 40px;
}

.averias-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;

}


.averias > h3 {
    color: #363546;
    font-size: 2em;
    margin-bottom: 20px;
}

.averias-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 180px;
    margin: 20px;
}

.info-averia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.info-averia > p {
    color: #363546;
    text-align: center;
    font-family: 'GalanoNormal', sans-serif;
    line-height: 20px;
    margin: 0px;
}

.precio-averia > p {
    color: #00cfa7;
    font-family: 'GalanoBold',sans-serif;
    font-size: 2em;
    margin: 0px;
}

.icon-averia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

}

.icon-averia > img {
    filter: invert();
    height: 100%;
}

.preguntas {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 1em;
}

.preguntas-button {
    font-size: 1.2em;
    font-family: 'GalanoBold', sans-serif;
    background-color: #00cfa7;
    width: 100%;
    color: white;
}

.preguntas h4 {
    font-size: 1.3em;
    font-family: 'GalanoBold', sans-serif;
}

.preguntas li {
    font-family: 'GalanoNormal',sans-serif;
}

.card {
    padding: 3em;
}

@media only screen and (max-width: 1680px) {

    .servicios-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;

    }

    .servicios-items {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #363546;
        margin-top: 1em;
    }



}

@media only screen and (max-width: 650px) {

    .wrapper-left {
        width: 100%;
    }

    .wrapper-up {
        display: flex;
        flex-direction: column;
    }

    .wrapper-down {
        padding: 0px;
    }

    .wrapper-down > h3 {
        margin-top: 20px;
        width: 80%;
    }

    .logobox {
        width: 60%;
    }

    .logo {
        width: 100%;
        height: auto;
    }

    h2 {
        font-family: 'GalanoBold';
        font-size: 2em;
    }

    h3 {
        font-size: 1.3em;
    }

    .oferta-title {
        width: 100%;
        font-size: 1.5em;
        margin: 0px;
    }

    .servicios-wrapper {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px;

    }

    .servicios-items {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid white;
        margin: 0px;
        margin-top: 20px;
    }

    .servicios-items > p {
        margin: 0px;
    }

    .averias {
        display: flex;
        justify-content: center;
        width: 100%;
        border: 0px;
    }

    .averias-items {
        width: 80%;

    }

    .averias > h3 {
        font-size: 1.9em;
        text-align: center;
    }

    .right-title {
        font-size: 2em;
        width: 80%;
        padding-top: 20px;
        margin-bottom: 20px;
        letter-spacing: -1px;
    }

    .subtitle {
        font-family: 'GalanoNormal', sans-serif;
    }

    .preguntas {
        width: 90%;
    }

    .wrapper-right {
        width: 100%;
        /* padding: 10px; */
    }

    .precio-right {
        width: 100%;
    }

    .formulario {
        width: 90%;
        align-self: center;
    }

    .telefono {
        display: none;
    }

    .icon-phone {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .icon-phone > img {
        width: 20px;
    }

    .card {
        padding: 0.5em;
        background-color: transparent;
        border: 0px;
    }

    .homeserve-title {
        font-family: 'GalanoNormal',sans-serif;
        width: 100%;
    }

    .card > ul {
        padding-left: 10px;
    }

    .card > li {
        margin-bottom: 10px ;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 80%;
        font-family: 'GalanoMedium';
        margin-top: 20px;
        border-top: 2px solid black;

    }

    .horario {
        margin-top: 10px;
        font-size: 0.8em;


    }

    .footer > p {
        text-align: center;
        line-height: 1.5em;
        text-align: center;
    }
  }
