/*Font Face*/

@font-face {
    font-family: 'GalanoBold';
    src: url(../fonts/GalanoGrotesqueAltBold.otf);
}

@font-face {
    font-family: 'GalanoMedium';
    src: url(../fonts/GalanoGrotesqueAltMedium.otf);
}

@font-face {
    font-family: 'GalanoNormal';
    src: url(../fonts/GalanoGrotesqueAlt.otf);
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.header-main {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 15vh;
}

.logobox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
    margin-left: 3em;
}

.logo {
    width: auto;
    height: 50%;
}

.header-middle {
    display: flex;
    width: 50%;
    height: 100%;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    margin-right: 1em;
}

.header-main p {
    font-family: 'GalanoBold', sans-serif;
    color: #00cfa7;
    margin: 0px;
}

.header-main a {

    font-family: 'GalanoBold', sans-serif;
    font-size: 20px;
    color: #363546;
    margin: 0px;
    padding: 0px;

}

.wrapper-right > p {
    font-size: 1em;
}

.icon-phone {
    display: none;
}


.wrapper-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
    padding: 30px;
}

.info-left {
    display: none;
    flex-direction: column;
    width: 100%;
    font-size: 0.8em;
}


.wrapper-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 30px;
    border-left: 6px solid white;
 
}

.content-right {
    width: 60%;
}

.tablet-down-content {
    display: none;
}

.precio-right {
    /* width: 80%; */
    font-family: 'GalanoNormal';
    margin: 32px 0px 32px 0px;
    color: white;
}

.precio-right > span {
    font-family: 'GalanoBold', sans-serif;
    font-size: 1.2em;
}

.homeserve-title {
    width: 100%;
    align-items: center;
    color: white;
    margin-bottom: 32px;
}

.homeserve-title-down {
    display: none;
}

.homeserve-title > p {
    margin: 0px;
    color: white;
}


.mucho-frio {

    position: relative;
    left: 5%;
    width: 90%;
    height: auto;
    margin: 0px;

}

.tecnico {

    display: none;
    width: 100%;
    height: auto;
    margin-bottom: 20px;

}

.wrapper-up {
    display: flex;
    width: 100%;
    height: 80vh;
    padding: 30px;
    background-image: url(../img/homeserve-personal-furgoneta-v2.jpg);
    background-size: cover;
}

.wrapper-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 0px;
}

h2 {
    font-family: 'GalanoBold';
    font-size: 4em;
}

.right-title {

    font-family: 'GalanoMedium';
    color: white;
    font-size: 3em;
    width: 80%;
    padding-top: 10px;
    margin-bottom: 15px;
    letter-spacing: -1px;
}

.subtitle {
    margin: 0px;
    font-family: 'GalanoNormal', sans-serif;
    color: white;
}

h3 {
    font-family: 'GalanoBold';
    font-size: 2em;
}

label {
    display: flex;
    font-family: 'GalanoBold';
    margin: 0px;
}

.info-pd {
    margin: 0px;
    margin-left: 10px;
}


.sepcheck > label {
    font-family: 'GalanoNormal';
    font-size: 0.6em;
    margin-bottom: 10px;
}

.podemos-llamarte {
    font-family: 'GalanoBold', sans-serif;
    text-align: left;
    color: #363546;
    line-height: 1em;
    font-size: 1.5em;
    border-top: 6px solid #363546;
    margin-top: 10px;
    padding-top: 10px;
    width: 100%;

}

.podemos-llamarte > h3 {
    margin-bottom: 2em;
}

p {
    font-family: 'GalanoNormal', sans-serif;
}



.homeserve-logo {
    height: 30px;
    filter: invert();

}



.formulario {
    width: 60%;
    margin-top: 20px;
    color: #363546;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 4px 50px rgba(0, 0, 0, 0.5);
}

.formulario-down {
    display: none;
}

label {
    font-family: 'GalanoBold', sans-serif;
    font-size: 1.2em;
}

.proteccion-datos {
    display: flex;
    margin: 0px;

}

.proteccion-datos > p {
    font-size: 0.7em;
    margin: 0px;
    margin-left: 5px;
}

input > span {
    font-size: 1em;
    font-family: 'GalanoBold', sans-serif;
}

button {
    color: white;
    font-family: 'GalanoBold', sans-serif;
    font-size: 1.2em;
    width: 100%;
    height: 50px;
    margin: 10px 0px 10px 0px;
    border: 0px;
    background-color: #363546;

}

.oferta-title {
    width: 50%;
    font-family: 'GalanoNormal', sans-serif;
    text-align: center;
    color: #363546;
    font-size: 2em;
    margin-top: 30px;
}
.oferta-title > h3 {
    width: 100%;
    font-size: 1.5em;
}

.oferta-title > span {
    font-family: 'GalanoBold', sans-serif;
    color: #00cfa7;

}

.servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-top: 2em;
    border-top: 6px solid #363546;
    /* padding: 1em; */
}

.servicios > h3 {
    color: #363546;
    font-size: 2em;
    margin-bottom: 0px;
    margin-bottom: 30px;
    padding-top: 10px;
    text-align: center;
}

.servicios-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: auto;

}

.servicios-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    margin: 20px;
}

.icon-servicio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

}

.icon-servicio > img {

    height: 100%;
}

.info-servicio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.7em;
}

.info-servicio > p {
    color: #363546;
    text-align: center;
    font-family: 'GalanoNormal', sans-serif;
    line-height: 1.3em;
    margin-top: 1em;
}

.info-servicio > p > span {

    font-family: 'GalanoBold',sans-serif;
    font-size: 1.1em;

}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-family: 'GalanoMedium';
    margin-top: 2em;
    border-top: 6px solid #363546;
    color: #363546;
}

.footer > p {
    text-align: center;
    line-height: 1.6em;
}

.footer > p > span {
    font-family: 'GalanoBold',sans-serif;
    font-size: 1.2em;
}

/*averias*/

.averias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    border-top: 6px solid #363546;
    margin-top: 20px;
    /* padding: 40px; */
}

.averias-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;

}


.averias > h3 {
    color: #363546;
    font-size: 2em;
    margin: 10px 0px 20px 0px;
    padding: 10px 0px 0px 0px;
}

.averias-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    height: 180px;
    margin: 20px;
}

.info-averia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.info-averia > p {
    color: #363546;
    text-align: center;
    font-family: 'GalanoNormal', sans-serif;
    line-height: 20px;
    margin: 0px;
}

.precio-averia > p {
    color: #00cfa7;
    font-family: 'GalanoBold',sans-serif;
    font-size: 2em;
    margin: 0px;
}

.icon-averia {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;

}

.icon-averia > img {
    filter: invert();
    height: 100%;
}

.preguntas {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 1em;
}

.preguntas-button {
    font-size: 1.2em;
    font-family: 'GalanoBold', sans-serif;
    background-color: #00cfa7;
    width: 100%;
    color: white;
}

.preguntas h4 {
    font-size: 1.3em;
    font-family: 'GalanoBold', sans-serif;
}

.preguntas li {
    font-family: 'GalanoNormal',sans-serif;
}

.card {
    padding: 3em;
}

.horario {
    margin-top: 20px;
    font-size: 0.8em;
}

@media only screen and (max-width: 1440px) {

    .servicios-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;

    }

    .wrapper-up {
        height: 60vh;
    }

    .wrapper-left {
        justify-content: flex-end;
    }

    .wrapper-right {
        padding: 0px;
        justify-content: flex-end;
    }


    .right-title {
        font-size: 2.5em;
        line-height: 1.1em;
    }

   

    .content-right {
        display: block;
        width: 90%;
    }

    .formulario {
        width: 90%;
    }

    .servicios-items {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-bottom: 1px solid #363546;
        margin-top: 1em;
    }



}

@media only screen and (max-width: 1259px) {

    .wrapper-up {
        height: 80vh;
    }
    .content-right {
        display: none;
    }

    .info-left {
        display: flex;
    }

    .averias-items {
        width: 180px;
    }

}


@media only screen and (max-width: 1025px) {

    .tablet-down-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .homeserve-title-down {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 45%;
    }

    .formulario-down {
        display: block;
        width: 45%;
        margin-top: 20px;
    }

    .header-main {
        height: 20vh;
    }

    .wrapper-left {
        display: flex;
        width: 100%;
        padding: 0px;
    }

    .homeserve-logo {
        filter: invert(0);
        width: 60%;
        height: auto;
        margin-bottom: 20px;
    }

    .right-title {
        width: 40%;
    }


    

    .info-left {
        display: none;
    }

    .wrapper-right {
        display: none;
    }

    .wrapper-up {
        display: flex;
        flex-direction: column;
        padding: 40px;
        height: 50vh;
    }

    .wrapper-down {
        padding: 40px;
    }

    .averias {
        widows: 90%;
    }

    .wrapper-down > h3 {
        margin-top: 20px;
        width: 80%;
    }

    .logobox {
        display: flex;
        justify-content: flex-start;
        width: 50%;
        height: 50%;
        margin: 40px 0px 0px 40px;
        padding: 0px;
    }

    .logo {
        width: 300px;
        height: auto;
        filter: unset;
    }

    h2 {
        font-family: 'GalanoBold';
        font-size: 2em;
    }

    h3 {
        font-size: 1.3em;
    }

    .homeserve-title {
        width: 100%;
    }

    .homeserve-title-down {
        display: block;
        flex-direction: column;
        text-align: center;
    }

    .homeserve-title-down > span {
        font-family: 'GalanoBold';
        color: red;
    }

    .homeserve-title-down > p {
        margin: 0px;
    }

    .tecnico {

        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    
    }

 

    .servicios {
        width: 100%;
    }

    .servicios-wrapper {
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0px;

    }

    .servicios-items {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid white;
        margin: 0px;
        margin-top: 20px;
    }

    .servicios-items > p {
        margin: 0px;
    }

    .averias {
        display: flex;
        justify-content: center;
        width: 100%;
    }


    .averias > h3 {
        font-size: 1.9em;
        text-align: center;
    }

    .right-title {
        font-size: 2em;
        width: 80%;
        padding-top: 0px;
        margin-bottom: 20px;
        letter-spacing: -1px;
    }

    .subtitle {
        font-family: 'GalanoNormal', sans-serif;
    
    }

    .preguntas {
        width: 90%;
    }

    .wrapper-right {
        width: 100%;
    }

    .precio-right {
        width: 100%;
    }

    .formulario {
        display: none;
        width: 100%;
        align-self: center;
    }

    .telefono {
        display: none;
    }

    .icon-phone {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .icon-phone > img {
        width: 20px;
    }

    .card {
        padding: 0.5em;
        background-color: transparent;
        border: 0px;
    }

    .homeserve-title {
        font-family: 'GalanoNormal',sans-serif;
        width: 100%;
    }

    .card > ul {
        padding-left: 10px;
    }

    .card > li {
        margin-bottom: 10px ;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        font-family: 'GalanoMedium';
        margin-top: 20px;
        padding-top: 20px;
    
    }

    .horario {
        margin: 0px;
    }



    .footer > p {
        text-align: center;
        line-height: 1.5em;
        text-align: center;
    }
  }

  @media only screen and (max-width: 550px) {

    .header-main {
        height: 10vh;
    }

    .wrapper-up {
        padding: 20px;
    }

    .wrapper-down {
        padding: 20px;
    }

      .info-left {
          display: none;
      }

      .wrapper-left {
          padding: 0px;
      }

      .right-title {
          width: 100%;
      }

      .subtitle {
          display: none;
      }

      .homeserve-title-down {

        width: 300px;
    }

    .formulario-down {
     
        width: 300px;
    
    }

    .logobox {
          padding: 0px;
          margin: 20px 0px 0px 20px;
    }

    .logo {
        width: 100%;
    }

  }
