/*Font Face*/

@font-face {
    font-family: 'GalanoBold';
    src: url(../fonts/GalanoGrotesqueAltBold.otf);
}

@font-face {
    font-family: 'GalanoMedium';
    src: url(../fonts/GalanoGrotesqueAltMedium.otf);
}

@font-face {
    font-family: 'GalanoNormal';
    src: url(../fonts/GalanoGrotesqueAlt.otf);
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

.header-main {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 15vh;
}

.logobox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 1em;
}

.logo {
    width: auto;
    height: 50%;
}

.header-middle {
    display: flex;
    width: 50%;
    height: 100%;
}

.header-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    margin: 0px;
}

.header-main p {
    font-family: 'GalanoBold', sans-serif;
    color: #00cfa7;
    margin: 0px;
}

.header-main a {

    font-family: 'GalanoBold', sans-serif;
    font-size: 20px;
    color: #363546;
    margin: 0px;
    padding: 0px;

}

